/*폰트*/
@font-face {
  font-family: "Hanna";
  src: url(../public/HANNA.otf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* 초기화 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Hanna";
}

body {
  /* 가운데 정렬 */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff9ca;
}

main {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 540px;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #ffdeb4;
}
/* 제목 */
h1 {
  position: relative;
  display: block;
  margin: 0;
  font-size: 3rem;
  line-height: 1;
  transform: translateY(6rem);
  animation: up 500ms linear forwards;
  z-index: 1;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
  overflow: hidden;
  padding-bottom: 0.4rem;
}

@keyframes up {
  100% {
    transform: translateY(0);
  }
}
/* 입력 폼*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.form__container {
  padding: 10px 30px;
  animation: fadeIn 2.5s;
  color: white;
  border-radius: 5px;
}
.form__input--wrapper {
  background-color: #ffb4b4;
  padding: 10px 3px;
  border-radius: 5px;
}
.form__input--name,
.form__input--title {
  display: flex;
  justify-content: space-between;
  width: 364px;
  margin-bottom: 3px;
  font-size: 20px;
}
.form__textbox {
  font-size: 20px;
}
#textarea_box {
  display: flex;
  justify-content: space-between;
}

#story {
  width: 77%;
  height: 90px;
  resize: none;
}
.form__submit {
  display: flex;
}
#add-discussion {
  height: 90px;
  width: 90px;
  font-size: 20px;
  cursor: pointer;
}

/* discussion */
section {
  width: 100%;
  padding: 30px;
}

li {
  list-style: none;
  border: 1px solid black;
  display: flex;
  height: 60px;
  justify-content: space-between;
  margin-bottom: 5px;
  background-color: #b2a4ff;
  border: 1px solid #b2a4ff;
  border-radius: 5px;
}
a {
  text-decoration: none;
  color: black;
}
.discussion__avatar--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.discussion__avatar--image {
  margin-left: 10px;
  width: 48px;
  border-radius: 50%;
}
.discussion__content {
  width: 75%;
}
.discussion__title {
  display: block;
  height: 35px;
  margin: 5px 10px 0px;
  font-size: 16px;
}
.discussion__information {
  font-size: 14px;
  padding-right: 5px;
  text-align: right;
}
.discussion__answered {
  display: flex;
  align-items: center;
  margin-right: 3px;
}

.buttons {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
.button {
  width: 20px;
  cursor: pointer;
  margin: 0 3px;
}

.hide {
  display: none;
}
.active {
  background-color: black;
  color: white;
}
.warning {
  color: red;
}
